extends ../layouts/layout

block body
    .container.text-center
        .hero-text Brickhouse BBQ has been servin' up delicious BBQ since 1997
    .border-bottom
        .container
            .text-body The Brickhouse crew has been servin' up homestyle BBQ at festivals and fairs since 1997. We pride ourselves on quality food, and use only the freshest ingredients. We've been perfecting our recipes over many years and make our own award-winning BBQ sauces. Stop on by and let us show you why we're the best BBQ on the central coast of California.