extends ../layouts/layout

block body
    .container.text-center
        .hero-text Delicious homestyle BBQ in beautiful downtown Morro Bay, CA
    .border-bottom
        .container
            .text-body Brickhouse BBQ is located in beautiful Morro Bay on the Central Coast of California. We're family owned and operated and serve delicious, homestyle BBQ and sides. Our meats are always cooked fresh and our breads are baked and delivered daily. Come enjoy traditional BBQ where the locals do...at Brickhouse BBQ!
