extends ../layouts/layout

block body
    .container.text-center
        .hero-text Follow the delicious, open-pit smoke to Brickhouse BBQ!
    .border-bottom
        .container
            .text-body.text-center
                p Brickhouse BBQ is open Tuesday - Saturday from 11am to 7pm, and Sunday from 11am to 5pm. 
                p Come visit us at:
                p
                    .address 500 MORRO BAY BLVD. 
                    .address MORRO BAY, CA 93442
                    .phone P: (805) 772-0111
                p
                    a(href='https://goo.gl/maps/922jv') Click here for a link to Google Maps.
                p
                    iframe(src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x80ece177a17dcacb%3A0x2532bee7f4ea51e9!2s500+Morro+Bay+Blvd%2C+Morro+Bay%2C+CA+93442!5e0!3m2!1sen!2sus!4v1388985161402", width="400", height="300", frameborder="0", style="border:0")

