extends ../layouts/layout

block body
    .container.text-center
        .hero-text Follow the delicious, open-pit smoke to Brickhouse BBQ!
    .border-bottom
        .container
            .text-body.text-center
                p Brickhouse BBQ is open Monday - Saturday from 11am to 8pm, and Sunday from 11am to 7pm.
                p Come visit us at:
                p
                    .address 810 Morro Bay Blvd
                    .address MORRO BAY, CA 93442
                    .phone P: (805) 772-0111
                p
                    a(href='https://goo.gl/maps/s75V2CND3n12') Click here for a link to Google Maps.
