extends ../layouts/layout

block body
    .container.text-center
        .hero-text Our menu features fresh BBQ'd meats and homemade sides and sauces
    .border-bottom
        .container.menu
            table
                tr
                    td
                        .menu-heading COMBO PLATES
                    td
                tr
                    td.menu-item 2 Meats &amp; 2 Sides
                    td.menu-price $12.00
                    td
                tr
                    td.menu-item 3 Meats &amp; 2 Sides
                    td.menu-price $14.00
                tr
                    td.menu-heading SANDWICHES
                    td
                tr
                    td 
                        .menu-item Tri Tip
                        .menu-sub USDA Choice Tri Tip Grilled Over Red Oak
                    td.menu-price $9.50
                    td
                tr
                    td 
                        .menu-item Hickory Smoked Pulled Pork
                        .menu-sub Low &amp; Slow Smoked for 13 Hours and Basted with Our Original BBQ Sauce
                    td.menu-price $8.50
                    td
                tr
                    td 
                        .menu-item Grilled Chicken
                        .menu-sub Red Oak Grilled Chicken Seasoned with Our Dry Rub
                    td.menu-price $8.50
                    td
                tr
                    td.menu-heading *RIBS
                    td
                tr
                    td 
                        .menu-sub Seasoned with Our Dry Rub and Slow Smoked with Hickory Wood
                    td
                tr
                    td 
                        .menu-item Individual Rib
                    td.menu-price $3.00
                    td
                tr
                    td 
                        .menu-item Half Rack
                    td.menu-price $18.00
                    td
                tr
                    td 
                        .menu-item Whole Rack
                    td.menu-price $29.00
                    td
                tr
                    td.menu-heading SIDES
                    td
                tr
                    td 
                        .menu-item Garlic Bread
                    td.menu-price $2.75
                    td
                tr
                    td 
                        .menu-item *Garlic-Parmesan Green Beans
                    td.menu-price $4.50
                    td
                tr
                    td 
                        .menu-item *Coleslaw
                    td
                tr
                    td 
                        .menu-sub SM.
                    td.menu-price $3.00
                    td
                tr
                    td 
                        .menu-sub LRG.
                    td.menu-price $6.00
                    td
                tr
                    td 
                        .menu-item *Tri Tip Ranch Beans
                    td 
                tr
                    td 
                        .menu-sub SM.
                    td.menu-price $3.00
                    td
                tr
                    td 
                        .menu-sub LRG.
                    td.menu-price $6.00
                    td
                tr
                    td
                        .menu-item CORN BREAD
                    td
                tr
                    td
                        .menu-sub With Honey Butter
                    td.menu-price $2.00
                    td
                tr
                    td
                        .menu-sub With Ranch Beans
                    td.menu-price $3.50
                    td
                tr
                    td 
                        .menu-heading SALADS
                        .menu-sub Spring Mix with Bacon, Feta, Purple Onion, Bell Pepper, &amp; Tomato
                        .menu-sub Dressings:Balsamic or Ranch
                    td
                tr
                    td 
                        .menu-item Large
                    td.menu-price $9.00
                    td 
                tr
                    td 
                        .menu-item Small
                    td.menu-price $5.00
                    td 
                tr
                    td 
                        .menu-item Add Tri Tip
                    td.menu-price $3.00
                    td 
                tr
                    td 
                        .menu-item Add Chicken
                    td.menu-price $2.00
                    td
                tr
                    td
                        .menu-heading KIDS MEAL
                        .menu-sub 12 & Under
                    td
                tr
                    td
                        .menu-item Any Meat + Any Side
                    td.menu-price $6.00
                    td
                tr
                    td.menu-heading DRINKS
                    td 
                tr
                    td 
                        .menu-item Fountain &amp; Bottled Soft Drinks &bull; Rotating Beer Taps
                    td
                tr
                    td 
                        .menu-item Bottled Beer Selection &bull; Local Wines
                    td
                tr
                    td.menu-heading WHOLE TRI TIP
                    td 
                tr
                    td.menu-item Please provide one hour notice
                    td.menu-price $Market Price
                    td
                tr
                    td.menu-heading SAUCES
                    td 
                tr
                    td.menu-item 1 Jar
                    td.menu-price $8.00
                    td
                tr
                    td.menu-item 3 Jars
                    td.menu-price $20.00
                    td
                tr
                    td.menu-heading MEAT PER POUND
                    td 
                tr
                    td
                      .menu-item Tri Tip
                      .menu-sub USDA Choice Tri Tip Grilled Over Red Oak
                    td.menu-price $Market Price
                    td
                tr
                    td
                      .menu-item Hickory Smoked Pulled Pork
                      .menu-sub Low & Slow Smoked for 13 Hours and Basted with Our Original BBQ Sauce
                    td.menu-price $Market Price
                    td
                tr
                    td
                      .menu-item Grilled Chicken
                      .menu-sub Red Oak Grilled Chicken Seasoned with Our Dry Rub
                    td.menu-price $Market Price
                    td

            table
                tr
                    td 
                        .menu-item *Gluten Free
                    td
