extends ../layouts/layout

block body
    .container.text-center
        .hero-text Our menu features fresh BBQ'd meats and homemade sides and sauces
    .border-bottom
        .container.menu
            table
                tr
                    td
                        .menu-heading COMBO PLATES
                    td
                tr
                    td.menu-item 2 Meats &amp; 2 Sides
                    td
                tr
                    td.menu-item 3 Meats &amp; 2 Sides
                    td
                tr
                    td.menu-heading SANDWICHES
                    td
                tr
                    td 
                        .menu-item Tri Tip
                        .menu-sub USDA Choice Tri Tip Grilled Over Red Oak
                    td
                tr
                    td 
                        .menu-item Hickory Smoked Pulled Pork
                        .menu-sub Low &amp; Slow Smoked for 12 Hours and Basted with Our Original BBQ Sauce
                    td
                tr
                    td 
                        .menu-item Grilled Chicken
                        .menu-sub Red Oak Grilled Chicken Filets Seasoned with Our Dry Rub
                    td
                tr
                    td.menu-heading RIBS
                    td
                tr
                    td 
                        .menu-sub Seasoned with Our Dry Rub and Slow Smoked with Hickory Wood
                    td
                tr
                    td 
                        .menu-item Individual Rib
                    td
                tr
                    td 
                        .menu-item Half Rack
                    td
                tr
                    td 
                        .menu-item Whole Rack
                    td
                tr
                    td.menu-heading SIDES
                    td
                tr
                    td 
                        .menu-item Garlic Bread
                    td
                tr
                    td 
                        .menu-item Garlic-Parmesan Green Beans
                    td
                tr
                    td 
                        .menu-item Coleslaw
                    td
                tr
                    td 
                        .menu-sub SM.
                    td
                tr
                    td 
                        .menu-sub LRG.
                    td
                tr
                    td 
                        .menu-item Ranch Style Tri Tip Beans
                    td 
                tr
                    td 
                        .menu-sub SM.
                    td
                tr
                    td 
                        .menu-sub LRG.
                    td
                tr
                    td 
                        .menu-item WHOLE TRI TIPs
                    td
                tr
                    td.menu-heading DRINKS
                    td 
                tr
                    td 
                        .menu-item Coke, Diet Coke, Sprite, Dr. Pepper, Lemonade, Root Beer, &amp; Iced Tea
                    td
                tr
                    td 
                        .menu-item Mexican Coke &amp; Mexican Fanta
                    td
