doctype 5
html(lang="en")
    head
        title Brickhouse BBQ | (805) 772-0111 | Morro Bay, CA
        meta(name='description', content='Brickhouse BBQ serves delicious BBQ in beautiful downtown Morro Bay, California.')
        link(rel='icon', type='image/png', href='favicon.png')
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(name='format-detection', content='telephone=no')
    body
        .header
            .header-bar 500 MORRO BAY BLVD. MORRO BAY, CA 93442 &#x7C; (805) 772-0111 &#x7C; OPEN TUES-SUN 11AM-5PM
            a(href='/')
                img.logo(src='./images/brickhouse_logo.png', alt="Brickhouse BBQ: Smokin' Hot Since 1997", width='435', heigh='218')
        .border-bottom
            .container.text-center
                ul.nav
                    li 
                        a(href='/') HOME
                    li 
                        a(href='/about.html') OUR STORY
                    li 
                        a(href='/menu.html') THE MENU
                    li 
                        a(href='/location.html') LOCATION
        block body
        footer
            .container.text-center
                .footer-body 500 MORRO BAY BLVD. MORRO BAY, CA 93442  |  (805) 772-0111  |  OPEN TUES-SAT 11AM-7PM, SUN 11AM-5PM
                .footer-small Copyright &copy;2014 Brickhouse BBQ
        script
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-43063450-1', 'brickhouse-bbq.com');
            ga('send', 'pageview');

</script>